.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, auto);
    gap: 10px;
    padding: 15px;
    background-color: rgb(149, 149, 189);
    margin: 10px;
    border-radius: 10px;
    height: 600px;

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        &.hasBorder {
            border: 1px solid #000;
        }

        &.large {
            grid-column: span 4;
            grid-row: span 6;
        }
    }

}

.floorTitle{
    display: block;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(140, 221, 235);
}