.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}

.alginItemCenter {
  align-items: center;
}

.icon {
  margin: 0 5px;
}

.mainBackground {
  width: 100%;
  max-height: 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  box-shadow: inset 60px 0 20px -10px rgba(0, 0, 0, 1), inset -60px 0 20px -10px rgba(0, 0, 0, 1);
  z-index: 0;
}

.calendar {
  display: none;
  width: 700px;
  background-color: aliceblue;
  position: absolute;
  top: 120%;
  left: -2%;
  border-radius: 10px;
  box-shadow: 3px 3px 20px 0px;
  z-index: 1;
}

.peopleNumber {
  display: none;
  width: 70%;
  min-height: 50px;
  background-color: aliceblue;
  position: absolute;
  top: 120%;
  left: .5%;
  box-shadow: 3px 3px 20px 0px;
  border-radius: 10px;
  padding: 10px;

  .peopleItem {
    display: flex;
    justify-content: space-between;
    margin: 3px;

    .label,
    .minus,
    .number,
    .plus {
      padding: 10px;
    }

    .input {
      display: flex;
      justify-content: space-evenly;
      border: 1px solid gray;
      border-radius: 5px;

      .number {
        display: flex;
        justify-content: center;
        width: 30px;
      }

      .minus:hover,
      .plus:hover {

        background-color: rgb(201, 245, 255);
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .peopleItem:first-child {
    margin-top: 10px;
  }

  .peopleItem:last-child {
    margin-bottom: 10px;
    justify-content: center;
    padding: 10px;
    border: 2px solid #2b70d7;
    border-radius: 10px;

    &:hover {
      background-color: #bad6ff;
      cursor: pointer;
    }
  }
}

.content {
  display: block;
  z-index: 2;

  .inputBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    width: auto;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    background-color: #195bbe;
    margin: 120px auto;
    padding: 0 5px;
    border-radius: 10px;

    .inputItem {
      width: 33.3333%;
      height: 55px;
      padding: 10px;
      margin: 2px;
      background-color: aliceblue;
      border-radius: 5px;
      position: relative;
    }

    .inputItem:nth-child(3) {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(214, 214, 6);
      cursor: pointer;

      &:hover {
        background-color: yellow;
      }
    }

    .fontSizeMedium {
      font-size: medium;
    }
  }
}

.offers {
  display: block;
  width: 80%;
  margin: 40px auto 0;

  .header {
    .title {
      font-size: 25px;
      font-weight: bolder;
    }

    .description {
      margin: 10px 0;
      color: rgb(121, 121, 121);
    }
  }

  .body {
    color: aliceblue;
    background-image: url("../../assets/images/offers.jpeg");
    background-repeat: no-repeat;
    min-height: 200px;
    background-size: 100% 100%;
    box-shadow: inset 60px 0 20px -10px rgba(0, 0, 0, 1), inset -60px 0 20px -10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    .title {
      padding: 20px;
      font-size: larger;
      font-weight: bolder;
    }

    .description {
      padding: 5px 20px;

    }

    .button {
      margin: 20px;
    }

  }
}

.propertyType {
  display: block;
  width: 80%;
  margin: 40px auto 0;

  .header {
    font-size: 25px;
    font-weight: bolder;
    margin: 20px 0;
  }

  .body {
    .slide {
      display: flex;
      justify-content: center;

      .item {
        border-radius: 10px;
      }

      .name {
        margin-top: 10px;
        font-weight: bolder;
      }

    }
  }
}

.why {
  display: block;
  width: 80%;
  margin: 40px auto 0;

  .header {
    font-size: 25px;
    font-weight: bolder;
    margin: 20px 0 40px;
  }

  .body {
    display: flex;
    justify-content: space-between;

    .card {
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 1px 1px 5px rgb(184, 184, 184);

      .description {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
          font-weight: bold;
        }

        .content {
          font-size: smaller;
          font-weight: bold;
        }
      }
    }
  }
}

.footer {
  min-height: 300px;
  margin-top: 50px;
  background-color: #123160;

  .footerContainer {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    color: aliceblue;

    .logo {
      width: 25%;

      img {
        width: 100%;
      }
    }

    .product,
    .about,
    .other {
      width: 25%;

      .item {
        margin: 20px;
        color: rgb(173, 178, 183);
      }

      .title {
        font-weight: bolder;
        color: aliceblue;
      }
    }
  }

  .address {
    width: 100%;
    padding: 50px 0 10px;
    border-top: 1px solid rgb(227, 162, 122);
    color: aliceblue;
    display: flex;
    justify-content: center;

    .title,
    .content {
      text-align: center;
      margin: 10px 0;
    }

    .title {
      font-size: small;
      color: rgb(184, 188, 191);
      margin-bottom: 20px;
    }

    .content {
      font-size: sm;
      font-weight: bold;
    }
  }
}