.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}

.alginItemCenter {
  align-items: center;
}

.icon {
  margin: 0 5px;
}

.mainBackground {
  width: 100%;
  max-height: 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  box-shadow: inset 60px 0 20px -10px rgba(0, 0, 0, 1),
    inset -60px 0 20px -10px rgba(0, 0, 0, 1);
  z-index: 0;
}

.calendar {
  display: none;
  width: 700px;
  background-color: aliceblue;
  position: absolute;
  top: 120%;
  left: -2%;
  border-radius: 10px;
  box-shadow: 3px 3px 20px 0px;
  z-index: 1;
}

.peopleNumber {
  display: none;
  width: 70%;
  min-height: 50px;
  background-color: aliceblue;
  position: absolute;
  top: 120%;
  left: 0.5%;
  box-shadow: 3px 3px 20px 0px;
  border-radius: 10px;
  padding: 10px;

  .peopleItem {
    display: flex;
    justify-content: space-between;
    margin: 3px;

    .label,
    .minus,
    .number,
    .plus {
      padding: 10px;
    }

    .input {
      display: flex;
      justify-content: space-evenly;
      border: 1px solid gray;
      border-radius: 5px;

      .number {
        display: flex;
        justify-content: center;
        width: 30px;
      }

      .minus:hover,
      .plus:hover {
        background-color: rgb(201, 245, 255);
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .peopleItem:first-child {
    margin-top: 10px;
  }

  .peopleItem:last-child {
    margin-bottom: 10px;
    justify-content: center;
    padding: 10px;
    border: 2px solid #2b70d7;
    border-radius: 10px;

    &:hover {
      background-color: #bad6ff;
      cursor: pointer;
    }
  }
}

.content {
  display: block;
  z-index: 2;

  .inputBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    width: auto;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    background-color: #195bbe;
    margin: 120px auto;
    padding: 0 5px;
    border-radius: 10px;

    .inputItem {
      width: 33.3333%;
      height: 55px;
      padding: 10px;
      margin: 2px;
      background-color: aliceblue;
      border-radius: 5px;
      position: relative;
    }

    .inputItem:nth-child(3) {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(214, 214, 6);
      cursor: pointer;

      &:hover {
        background-color: yellow;
      }
    }

    .fontSizeMedium {
      font-size: medium;
    }
  }
}

.offers {
  display: block;
  width: 80%;
  margin: 40px auto 0;

  .header {
    .title {
      font-size: 25px;
      font-weight: bolder;
    }

    .description {
      margin: 10px 0;
      color: rgb(121, 121, 121);
    }
  }

  .body {
    color: aliceblue;
    background-image: url("../../assets/images/offers.jpeg");
    background-repeat: no-repeat;
    min-height: 200px;
    background-size: 100% 100%;
    box-shadow: inset 60px 0 20px -10px rgba(0, 0, 0, 1),
      inset -60px 0 20px -10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    .title {
      padding: 20px;
      font-size: larger;
      font-weight: bolder;
    }

    .description {
      padding: 5px 20px;
    }

    .button {
      margin: 20px;
    }
  }
}

.propertyType {
  display: block;
  width: 80%;
  margin: 40px auto 0;

  .header {
    font-size: 25px;
    font-weight: bolder;
    margin: 20px 0;
  }

  .body {
    .slide {
      display: flex;
      justify-content: center;

      .item {
        border-radius: 10px;
      }

      .name {
        margin-top: 10px;
        font-weight: bolder;
      }
    }
  }
}

.why {
  display: block;
  width: 80%;
  margin: 40px auto 0;

  .header {
    font-size: 25px;
    font-weight: bolder;
    margin: 20px 0 40px;
  }

  .body {
    display: flex;
    justify-content: space-between;

    .card {
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 1px 1px 5px rgb(184, 184, 184);

      .description {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
          font-weight: bold;
        }

        .content {
          font-size: smaller;
          font-weight: bold;
        }
      }
    }
  }

  .suggestPage {
    display: flex;
    position: relative;
    .totalValue {
      width: 30%;
      height: fit-content;

      .advertisement {
        padding: 15px;
        border: 1px solid rgb(206, 206, 206);
        border-radius: 10px;
        margin: 0 10px 10px 0;

        .rating {
          display: flex;
          align-items: center;

          .stars,
          .like {
            font-size: 12px;
            margin-left: 10px;
          }

          .stars {
            .icon {
              color: rgb(255, 210, 64);
            }
          }

          .like {
            color: aliceblue;
            background-color: rgb(255, 210, 64);
            padding: 5px;
            border-radius: 2px;
          }
        }

        .name {
          font-size: 20px;
          font-weight: bolder;
          margin: 10px 0;
        }

        .address {
          margin: 10px 0;
        }

        .slogan {
          display: flex;
          align-items: center;

          .score,
          .wifi,
          .compliment,
          .parking {
            margin-right: 10px;
          }

          .score {
            padding: 10px;
            color: aliceblue;
            background-color: rgb(9, 9, 157);
            border-radius: 10px 10px 10px 0;
          }
        }
      }

      .bookingDetail {
        padding: 20px;
        border: 1px solid rgb(206, 206, 206);
        border-radius: 10px;
        margin-right: 10px;

        .header {
          font-weight: bolder;
          font-size: larger;
          margin-bottom: 10px;
        }

        .check {
          display: flex;
          width: 100%;
          padding: 20px 0 20px 0;

          > div {
            width: 50%;
            position: relative;
            margin: 5px 0;
          }

          .title {
            font-size: large;
          }

          .date {
            font-size: large;
            font-weight: bold;
            margin: 10px 0;
          }

          .time {
            color: rgb(95, 95, 95);
          }

          .checkIn {
            margin-right: 10px;
          }

          .checkIn::after {
            display: block;
            content: "";
            position: absolute;
            left: 100%;
            top: 40%;
            width: 1px;
            height: 60%;
            background-color: rgb(196, 196, 196);
          }
        }

        .warning {
          font-size: 20px;
          margin-bottom: 10px;

          .icon {
            margin-right: 10px;
          }
        }

        .near {
          color: rgb(164, 16, 16);
        }

        .days {
          .totalDays {
            margin: 5px 0;
            font-weight: bolder;
          }
        }

        .selected {
          border-top: 1px solid rgb(212, 212, 212);
          margin-top: 20px;
          padding-top: 20px;

          .description {
            margin: 10px 0;
            font-size: 20px;
            font-weight: bolder;
          }
        }
      }

      .priceSumary {
        border: 1px solid rgb(206, 206, 206);
        border-radius: 10px;
        margin: 10px 10px 10px 0;

        .header {
          .title {
            padding: 20px 15px;
            font-size: larger;
            font-weight: bolder;
          }

          .content {
            display: flex;
            background-color: rgb(233, 243, 252);
            justify-content: space-between;

            > div {
              display: block;
              padding: 30px 15px;
              font-size: 25px;
              font-weight: bolder;

              .description {
                font-size: medium;
                font-weight: 100;
                color: gray;
                float: right;
              }

              .total {
                float: right;
              }
            }
          }
        }

        .body {
          padding: 15px;

          .title {
            font-size: larger;
            font-weight: bolder;
            margin-bottom: 20px;
          }

          .item {
            display: flex;
            margin: 10px 0;

            .icon {
              width: 20px;
              margin-right: 10px;
            }

            &:last-child {
              padding-bottom: 20px;
              border-bottom: 1px solid rgb(214, 214, 214);
            }
          }
        }

        .footer {
          padding: 15px;

          .title {
            font-size: larger;
            font-weight: bolder;
            margin-bottom: 20px;
          }

          .icon {
            width: 20px;
            margin-right: 10px;
          }
        }
      }
    }

    .info {
      width: 65%;
      margin-left: 10px;

      .content {
        border: 1px solid rgb(202, 202, 202);
        border-radius: 10px;
        padding: 20px;

        .header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .title {
            font-size: 20px;
            font-weight: bolder;
          }
        }

        .guarantee {
          background-color: rgb(220, 221, 222);
          padding: 20px;
          margin: 10px 0;
          border: 1px solid gray;
          border-radius: 10px;

          .icon {
            margin-right: 10px;
          }
        }

        .inputs {
          display: flex;
          flex-wrap: wrap;
          width: 100%;

          .formControl {
            width: 48%;
            margin: 10px 10px 0 0;

            .explain {
              margin: 10px 0;
              color: gray;
            }
          }

          .select {
            width: 50%;
          }

          .checkbox {
            width: 100%;
          }
        }
      }

      .guest {
        border: 1px solid rgb(202, 202, 202);
        border-radius: 10px;
        padding: 20px;
        margin-top: 10px;

        .title {
          font-size: 20px;
          font-weight: bolder;
          margin-bottom: 20px;
        }

        .breakfast {
          display: flex;

          .icon {
            color: green;
          }

          .description {
            color: green;

            div {
              &:nth-child(1) {
                margin: 0 10px 5px 5px;
                font-weight: bold;
              }

              &:nth-child(2) {
                margin: 0 10px 5px 5px;
                font-size: 13px;
                color: black;
              }
            }
          }
        }

        .cancel {
          display: flex;
          color: green;
          margin: 5px 0;

          .cancelFree {
            margin: 0 5px;
            font-weight: bolder;
          }
        }

        .numberOfGuest {
          display: flex;
          margin: 5px 0;

          .numberOfGuestTitle {
            margin: 0 5px;
            font-weight: bolder;
          }
        }

        .spotless {
          display: flex;
          margin-top: 20px;
          margin-bottom: 5px;
          color: rgb(56, 56, 56);

          .icon {
            margin-right: 5px;
          }
        }

        .noSmoke {
          display: flex;
          margin-bottom: 20px;
          margin-top: 5px;
          color: rgb(56, 56, 56);

          .icon {
            margin-right: 5px;
          }
        }

        .advances {
          display: flex;
          margin-bottom: 20px;

          .item {
            padding: 2px 3px;
            margin: 0 2px;
            color: green;
            border: 0.5px solid rgb(119, 172, 119);
            border-radius: 2px;
            background-color: rgb(208, 230, 208);
            font-size: 15px;

            &:nth-child(1) {
              margin-left: 0;
            }

            .icon {
              margin-right: 2px;
            }
          }
        }

        .guestInfo {
          display: flex;
          justify-content: space-between;

          .formControl {
            width: 49%;

            .guarantee {
              margin-top: 10px;
              color: rgb(90, 90, 90);

              .guaranteed {
                display: inline;
                font-weight: bolder;
              }
            }
          }
        }
      }

      .arrivalTime {
        border: 1px solid rgb(202, 202, 202);
        border-radius: 10px;
        padding: 20px;
        margin-top: 10px;

        .icon {
          font-size: 20px;
          margin-right: 10px;
          color: green;
        }

        .title {
          font-size: 20px;
          font-weight: bolder;
          margin-bottom: 20px;
        }

        .checkIn {
          margin: 10px 0;
        }

        .timezone {
          margin-top: 10px;
          color: rgb(74, 74, 74);
        }
      }

      .footer {
        width: 100%;
        margin-top: 20px;
        button {
          float: right;
        }
      }
    }
  }
}

.footer {
  min-height: 300px;
  margin-top: 50px;
  background-color: #123160;

  .footerContainer {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    color: aliceblue;

    .logo {
      width: 25%;

      img {
        width: 100%;
      }
    }

    .product,
    .about,
    .other {
      width: 25%;

      .item {
        margin: 20px;
        color: rgb(173, 178, 183);
      }

      .title {
        font-weight: bolder;
        color: aliceblue;
      }
    }
  }

  .address {
    width: 100%;
    padding: 50px 0 10px;
    border-top: 1px solid rgb(227, 162, 122);
    color: aliceblue;
    display: flex;
    justify-content: center;

    .title,
    .content {
      text-align: center;
      margin: 10px 0;
    }

    .title {
      font-size: small;
      color: rgb(184, 188, 191);
      margin-bottom: 20px;
    }

    .content {
      font-size: sm;
      font-weight: bold;
    }
  }
}
