.container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    position: relative;

    .elevator {
        position: absolute;
        top: 200px;
        right: 105%;

        .up,
        .down {
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                background-color: rgb(110, 113, 112);
            }
        }

    }

    .floor {
        width: 78%;
    }

    .info {
        width: 22%;
        background-color: darkgoldenrod;
        border-radius: 10px;
        padding: 10px;
        margin: 5px;
        position: relative;

        .header{
            font-size: larger;
            font-weight: bold;
            margin: 20px 0;
        }
        .body{

            .prices, .tax{
                margin: 10px 0;
            }

            .listRooms{
                display: flex;
            }

        }
        .footer{
            bottom: 1%;
            position: absolute;

            .deposit{
                margin: 10px 0;
            }
        }

    }

}

.infoContainer {
    display: block;
    position: relative;
    width: 90%;
    padding: 20px;

    .header {
        font-size: large;
        font-weight: bold;
        width: 100%;
    }

    .body {
        width: 100%;
        .number {
            margin: 10px 0;
        }

        .images {
            width: 100%;
            margin: 20px 0;

            div {
                margin: 10px 0;
            }
        }

        .description {
            margin: 10px 0 20px;
        }

        .price {
            margin: 10px 0 20px;
        }
    }

    .footer {
        position: absolute;
    }
}