.container {
    display: block;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;

    .header {
        display: flex;
        padding: 15px;

        .picture {
            .pictureSrc {
                display: flex;
                border-radius: 50%;
                border: 1px solid rgb(197, 197, 197);
                margin-right: 10px;
                width: 60px;
                height: 60px;
                align-items: center;
                justify-content: center;
                font-size: 5vh;
                font-weight: bold;
                text-transform: uppercase;
                color: aliceblue;
            }
        }

        .infor {
            .name {
                font-size: xx-large;
                font-weight: bold;
            }

            .mail {}
        }

        border-bottom: 1px solid rgb(175, 175, 175);
    }

    .body {
        display: block;

        .element {
            padding: 15px;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: rgb(235, 235, 235);
            }

            .icon {
                margin-right: 10px;
            }
        }

        border-bottom: 1px solid rgb(175, 175, 175);
    }

    .footer {
        display: block;

        .element {
            padding: 15px;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: rgb(235, 235, 235);
            }

            .icon {
                margin-right: 10px;
            }
        }
    }
}