a {
    text-decoration: none;
    color: aliceblue;
}

.mr5 {
    margin-right: 5px;
}

.ml5 {
    margin-left: 5px;
}

.container {
    width: 100%;
    position: sticky;
    background-color: rgb(47, 89, 195);
    color: aliceblue;
    min-height: 60px;
    display: flex;
    z-index: 2;

    .header {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {

            h1 {
                width: fit-content;
            }
        }

        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .navItemWrapper {
                display: flex;
                position: relative;
                justify-content: center;

                .navItem {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 10px;
                    padding: 10px;
                    border-radius: 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: #397fe7;
                    }

                    .user {
                        display: flex;
                        border-radius: 50%;
                        border: 1px solid yellow;
                        margin-right: 10px;
                        width: 30px;
                        height: 30px;
                        align-items: center;
                        justify-content: center;
                        font-size: medium;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    .menu {
                        width: 100px;
                    }
                }

                .menu {
                    width: 200px;
                    display: block;
                    background-color: aliceblue;
                    color: black;
                    position: absolute;
                    top: 110%;
                    left: 60%;
                    border-radius: 10px;

                    li {
                        padding: 20px;
                        border-radius: 10px;
                        cursor: pointer;

                        &:hover {
                            background-color: beige;
                        }

                        .menuIcon{
                            margin-right: 10px;
                        }
                    }
                }
            }

            .nav5 {
                width: 50%;
            }

            .nav4 {
                width: 40%;
            }

            .nav3 {
                width: 30%;
            }

            .nav2 {
                width: 20%;
            }

            .nav1 {
                width: 10%;
            }

            // Add more navigation-related styles if necessary
        }
    }
}