.container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    border: 3px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .icon {
        margin: 0 5px;
    }

    &.booking {
        background-color: greenyellow;
    }

    &.pending {
        background-color: rgb(116, 116, 205);
    }


    &.booked {
        background-color: rgb(168, 168, 167);
    }

    &:hover,
    &:focus {
        border-color: orange;
    }

}